.footer{
	background-color: grey;
}
.card-back{
	max-width: 100%;
	height: 500px;
	padding: 2% 2% 2% 2%;
	object-fit : cover;
}
.ukuran-foot{
	margin-top: 5%
}
.card-text span{
	text-decoration: line-through;
    text-decoration-color: red;
    margin-left: 5%
}
.card{
	border: none;
    padding: 10px;
    box-shadow: 3px 3px grey;
}
.flip{
	cursor: pointer;
}